<h1> 書本管理系統 </h1>

<table class="table">
	<% @books.each do |book|%>
		<tr>
			<td>
				<%= book.name%>
			</td>
			<td>
				<%= link_to " 讀者清單", book_readers_path(book), :class => "btn btn-primary"%>
				<%= link_to "書本資訊", book_path(book), :class => "btn btn-primary" %>
				<%= link_to "編輯本書",  books_path(:id => book , :page => params[:page]), :class => "btn btn-default" %>
				<%= link_to "刪除本書" , book_path(book, :page => params[:page]) ,:method => :delete, :class => "btn btn-danger" %>
			</td>
		</tr>
	<%end%>
</table>

<% if @book.errors.any? %>
      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>
<%= paginate @books %>
<br>
<% if @book.id %>      	
	<%= "UPDATE" %>
<% else %>
	<%= "NEW" %>
<% end %>
<br>
<%=form_for @book,  :url => books_path ,:method => :post do |f|%>
	<%= render :partial => "form" , :locals => { :f => f } %>
	<%= f.submit  :class =>"btn btn-primary"%>
<%end%>

