<h1> 書本索引 </h1>



<% @books.each do |book|%>

<li>
	<%= book.name%>
	<%= link_to "書本資訊", book_path(book) %>
	<%= link_to "編輯本書",  edit_book_path(book) %>
	<%= link_to "刪除本書" , book_path(book) ,:method => :delete %>


<%end%>
</li>

<%= link_to "新增書本" , new_book_path %>

