<% if @book.errors.any? %>
      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>
<%=form_for @book,  :url => books_path ,:method => :post do |f|%>
	<%= render :partial => "form" , :locals => { :f => f } %>
	<%= f.submit "新增", :class =>"btn btn-primary"%>
<%end%>
<br>
<%= link_to "返回清單", books_path, :class=> "btn btn-primary"%>