<%=form_for @book,  :url => books_path ,:method => :post do |f|%>
 <div class="form-group">
<%= f.label "書名" %>
<%= f.text_field :name, :class => "form-control" %>
</div>
<div class="form-group">
<%= f.label "簡介" %>
<%= f.text_area :description, :class => "form-control"%>
</div>	
<%= f.submit "新增", :class =>"btn btn-primary"%>
<%end%>
<br>
<%= link_to "返回清單", books_path, :class=> "btn btn-primary"%>